*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: d-din;
    src: url(../fonts/D-DIN.otf);
}

@font-face {
    font-family: d-din-bold;
    src: url(../fonts/D-DIN-Bold.otf);
}

/* Custom properties */
:root{
    --bg-color: rgb(0,0,0);
    --text-color: rgb(255, 255, 255);
    --button-color: rgb(255, 255, 255);
    --detail-color: #252525;
    --hover-color: darkgrey;
}

body{
    font-family: d-din;
    background-color: var(--bg-color);
}


/* Navigatie */
header{
    height: 3em;
    width: 100%;
    padding-top: 0.94em;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    z-index: 9;
}

nav{
    position: relative;
    height: 100%;
}

nav > div:first-of-type > a{
    display: block;
    margin: 0 auto;
}

nav a img{
    width: 9.4em;
    transform: translateX(4vw);
}

/* Hamburger menu */
button{
    font-size: 1em;
}

nav > button{
    position: absolute;
    right: 1.3em;
    top: .55em;
    background-color: transparent;
    border: none;
}

nav > button div{
    position: relative;
    width: 1.2em;
    height: 0.8em;
    margin-left: auto;
    cursor: pointer;
    z-index: 999;
}

nav > button div span{
    display: block;
    position: absolute;
    height: 0.15em;
    width: 100%;
    background-color: var(--text-color);
    transition: .25s ease-in-out;
}

nav > button div span:nth-of-type(1){
    top: 0;
}

nav > button div span:nth-of-type(2){
    top: 0.3em;
}

nav > button div span:nth-of-type(3){
    top: 0.6em;
}


/* Open menu animatie */
nav > button div.open span:nth-of-type(2){
    opacity: 0;
}

nav > button div.open span:nth-of-type(1){
    transform: rotate(45deg);
    transform-origin: left center;
    top: -0.15em;
}

nav > button div.open span:nth-of-type(3){
    transform: rotate(-45deg);
    transform-origin: left center;
    top: 0.7em;
}


/* Nav items sidebar*/
nav > ul{
    background-color: var(--bg-color);
    width: 0em;
    height: 100vh;
    margin-left: auto;
    transition: .2s ease-in-out;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    z-index: 99;
}

nav > ul li:nth-of-type(1){
    margin-top: 1.56em;
}

nav > ul li{
    list-style: none;
    width: 100%;
    margin-right: .5em;
    margin-top: 1.5em;
    white-space: nowrap;
    position: relative;
    text-align: right;
}

nav > ul li::after{
    content: '';
    position: absolute;
    bottom: -0.75em;
    right: .7em;
    width: 15.625em;
    height: 0.0625em;
    background-color: var(--detail-color);
    opacity: 0;
}

nav > ul li a{
    text-decoration: none;
    color: var(--text-color);
    opacity: 0; 
    padding: 0.75em;
    font-weight: 500;
}

nav > ul li a:hover{
    color: var(--hover-color);
}

nav > ul.open2{
    width: 20em;
    transition: .5s;
    z-index: 99;
}


/* Nav sidebar verschijnen animatie*/
ul.open2 li a, ul.open2 li::after{
    opacity: .8;
}

ul.open2 li:nth-of-type(1) a, nav > ul li:nth-of-type(1)::after{
    transition: opacity 2.5s, color .5s;
}

ul.open2 li:nth-of-type(2) a, nav > ul li:nth-of-type(2)::after{
    transition: opacity 2.9s, color .5s;
}

ul.open2 li:nth-of-type(3) a, nav > ul li:nth-of-type(3)::after{
    transition: opacity 3.4s, color .5s;
}

ul.open2 li:nth-of-type(4) a, nav > ul li:nth-of-type(4)::after{
    transition: opacity 3.8s, color .5s;
}

ul.open2 li:nth-of-type(5) a, nav > ul li:nth-of-type(5)::after{
    transition: opacity 4.2s, color .5s;
}

ul.open2 li:nth-of-type(6) a, nav > ul li:nth-of-type(6)::after{
    transition: opacity 4.6s, color .5s;
}

ul.open2 li:nth-of-type(7) a, nav > ul li:nth-of-type(7)::after{
    transition: opacity 5s, color .5s;
}

ul.open2 li:nth-of-type(8) a, nav > ul li:nth-of-type(8)::after{
    transition: opacity 5.4s, color .5s;
}

ul.open2 li:nth-of-type(9) a, nav > ul li:nth-of-type(9)::after{
    transition: opacity 5.8s, color .5s;
}

ul.open2 li:nth-of-type(10) a, nav > ul li:nth-of-type(10)::after{
    transition: opacity 6.2s, color .5s;
}

ul.open2 li:nth-of-type(11) a, nav > ul li:nth-of-type(11)::after{
    transition: opacity 6.6s, color .5s;
}

ul.open2 li:nth-of-type(12) a, nav > ul li:nth-of-type(12)::after{
    transition: opacity 7.1s, color .5s;
}


/* Nav items (desktop) */
nav > div:nth-of-type(1){
    display: flex;
    height: 100%;
}

nav > div:nth-of-type(1) ul{
    display: none;
    list-style: none;
    gap: 20px;
    margin-left: 1em;
    margin-top: 1.7em;
    margin: .7em 0 0 1em;
    height: 100%;
}

nav > div:nth-of-type(1) ul li{
    white-space: nowrap;
}

nav > div:nth-of-type(1) ul li a{
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    font-size: .98em;
}

nav > div:nth-of-type(1) ul li a::after{
    content: '';
    position: absolute;
    bottom: -.1em;
    left: 0;
    background-color: var(--text-color);
    height: .07em;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .2s ease-in-out;
}

nav > div:nth-of-type(1) ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Main */
main section:nth-of-type(1){
    height: 100vh;
    background-image: url(../images/f9_feature.webp);
    background-position: center;
    background-size: cover;
}

main section:nth-of-type(1) > div{
    text-align: center;
    position: absolute;
    top: 35vh;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;

}

main section{
    background-color: black;
}

h1{
    font-family: d-din-bold;
    font-size: 3em;
    color: var(--text-color);
    margin-bottom: .2em;
}

h2{
    font-family: d-din;
    font-size: 1.8em;
    color: var(--text-color);
    width: 60vw;
    transform: translateX(-15vw);
}

h3{
    font-size: 2.5em;
    letter-spacing: .05em;
    color: var(--text-color);
}

p{
    font-size: 1em;
    color: var(--text-color);
}


/* Total landings, reflights en launches */
main section:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    padding: 4.5em 1.3em 5em 1.3em;
}

main section:nth-of-type(2) div {
    width: 25vw;
    text-align: center;
}


/* Rocket info paragraph & img */
main section:nth-of-type(3){
    height: 153vh;
    position: relative;
}

main section:nth-of-type(3) div:nth-of-type(1){
    background-image: linear-gradient(to top, transparent 85%, black ), url(../images/falcon9skelet.png);
    background-size: cover;
    background-position-x: 40%;
    height: 40%;
    position: sticky;
    top: 3em;
}

main section:nth-of-type(3) > p:first-of-type{
    position: absolute;
    width: 80vw;
    margin: 0 10vw;
    top: 15em;
    line-height: 1.8em;
}


/* Falcon 9 overview list */
main section:nth-of-type(3) > p:nth-of-type(2){
    position: absolute;
    bottom: 15em;
    left: 1.3em;
    font-size: 1.3em;
}

section:nth-of-type(3) h4{
    font-size: 2em;
    font-family: d-din-bold;
    color: var(--text-color);
    position: absolute;
    bottom: 8.7em;
    left: .8em;
}

main section:nth-of-type(3) div:nth-of-type(2){
    position: absolute;
    bottom: 3em;
    left: 1.8em;
    display: flex;
    width: calc(100vw - 3.5em);
}

main section:nth-of-type(3) div:nth-of-type(2) ul{
    list-style: none;
    width: 50%;
}

main section:nth-of-type(3) div:nth-of-type(2) ul li{
    position: relative;
    color: var(--text-color);
    font-size: 1em;
    font-family: d-din-bold;
    line-height: 3em;
    white-space: nowrap;
}

main section:nth-of-type(3) div:nth-of-type(2) ul:first-of-type li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--detail-color);
    width: calc(100vw - 1.3em - 2.3em);
    height: .12em;
}

main section:nth-of-type(3) div:nth-of-type(2) ul:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: end;
}

main section:nth-of-type(3) > button {
    width: fit-content;
    position: absolute;
    font-family: d-din-bold;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

main section:nth-of-type(3) button:first-of-type{
    bottom: 11.5em;
    right: 2.3em;
    color: var(--detail-color);
}

main section:nth-of-type(3) button:nth-of-type(2){
    bottom: 11.5em;
    right: 1.3em;
    color: var(--button-color);
}




/* Falcon 9 overview list veranderen*/
.none{
    display: none;
}

main section:nth-of-type(3) div:nth-of-type(2).none{
    display: none;
}

main section:nth-of-type(3) div:nth-of-type(2).visible{
    display: flex;
}

main section:nth-of-type(3) button:nth-of-type(2).darkButton{
    color: var(--detail-color);
}

main section:nth-of-type(3) button:first-of-type.lightButton{
    color: var(--button-color);
}




/* Falcon 9 first stage */
main section:nth-of-type(3) div:nth-of-type(3){
    position: absolute;
    bottom: 5.5em;
    left: 1.8em;
    width: calc(100vw - 3.5em);
    height: 10em;
}

main section:nth-of-type(3) div:nth-of-type(3) ul{
    list-style: none;
    display: flex;
    gap: 1.3em;
}

main section:nth-of-type(3) div:nth-of-type(3) button{
    font-family: d-din-bold;
    background: none;
    border: none;
    color: var(--hover-color);
}

main section:nth-of-type(3) div:nth-of-type(3) p{
    line-height: 1.8em;
    margin-top: 1.5em;
}

button:hover{
    cursor: pointer;
}

main section:nth-of-type(3) div:nth-of-type(3) button.active{
    color: var(--text-color);
}


/* Image verandering on scroll falon 9 */
main section:nth-of-type(3) div:nth-of-type(1).newImg{
    background-image: url(../images/falcon9render.png);
}



/* Video falcon 9 */
iframe{
    width: 100%;
    height: calc(100vh - 3em);
    display: block;
}



/* Merlin section */
main section:nth-of-type(4) > div:first-of-type{
    width: 100vw;
    background-image: url(../images/merlin.png);
    background-size: cover;
    background-position-x: 50%;
    height: 35em;
    top: 3em;
}

main section:nth-of-type(4) > p:first-of-type{
    font-size: 1.3em;
    margin-left: 1.3em;
}

main section:nth-of-type(4) h4{
    font-size: 2em;
    font-family: d-din-bold;
    color: var(--text-color);
    margin-left: .8em;
}

main section:nth-of-type(4) > ul:first-of-type{
    display: flex;
    list-style: none;
    gap: 1.3em;
    margin: 1.3em 0 1.3em 1.8em;
}

main section:nth-of-type(4) ul button{
    background: none;
    border: none;
    font-family: d-din-bold;
    color: var(--hover-color);
}

main section:nth-of-type(4) p:nth-of-type(2){
    width: calc(100vw - 3.5em);
    line-height: 1.8em;
    margin-left: 1.8em;
    margin-bottom: 1.3em;
}


main section:nth-of-type(4) div:nth-of-type(2){
    display: flex;
    width: calc(100vw - 3.5em);
    margin-left: 1.8em;
    padding-bottom: 3em;
}

main section:nth-of-type(4) div ul{
    width: 50%;
    list-style: none;
}

main section:nth-of-type(4) div ul:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: end;
}

main section:nth-of-type(4) div ul li{
    position: relative;
    color: var(--text-color);
    font-size: 1em;
    font-family: d-din-bold;
    line-height: 3em;
    white-space: nowrap;
}

main section:nth-of-type(4) div ul:first-of-type li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--detail-color);
    width: calc(100vw - 1.3em - 2.3em);
    height: .12em;
}

main section:nth-of-type(4) ul button.active{
    color: var(--text-color);
    position: relative;
}




/* Carousel foto's */

/* main section:nth-of-type(5){
    background-image: url(../images/carousel1.png);
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

main section:nth-of-type(5){
    width: 100vw;
    overflow: hidden;
}

main section:nth-of-type(5) img{
    height: 80vh;
}

/* main section:nth-of-type(5) img{
    object-fit: cover;
    object-position: center;
    height: 80vh;
} */



/* Footer */
footer img{
    width: 6em;
    margin: 0 auto;
    padding: 2em 0 1em 0;
    display: block;
}

footer{
    width: 100vw;
    height: 8em;
}

footer ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    margin: 0 .7em;
}

footer a{
    color: var(--text-color);
    text-decoration: none;
}

footer a:hover{
    color: var(--hover-color);
    transition: color .5s;
}



/* Breakpoint fixes*/
@media (min-width: 600px) {
    nav > button{
        right: 3em;
    }
    nav > ul li{
        margin-right: 2em;
    }
    nav > ul li::after{
        width: 14em;
    }
    main section:nth-of-type(3) div:nth-of-type(1){
        height: 45%;
    }
    section:nth-of-type(2) div h3{
        font-size: 3.5em;
    }
}

@media (min-width: 960px){
    nav a img{
        transform: translateX(0vw);
        margin: 0em auto 0 3em;
        width: 13em;
    }
    header{
        height: 3em;
    }
    nav > div:nth-of-type(1) ul{
        display: flex;
    }
    nav > div:nth-of-type(1) ul li:nth-of-type(7){
        display: none;
    }
    nav > div:nth-of-type(1) ul li:nth-of-type(8){
        display: none;
    }
    nav > button{
        top: .95em;
        font-size: .9em;
    }
    nav > ul{
        margin-top: -0.05em;
    }
    nav > ul li:nth-of-type(-n+6){
        display: none;
    }
    nav > ul.open2 li:nth-of-type(7) a, nav > ul li:nth-of-type(7)::after{
        transition: opacity 2.5s, color .5s;
    }
    nav > ul.open2 li:nth-of-type(8) a, nav > ul li:nth-of-type(8)::after{
        transition: opacity 2.8s, color .5s;
    }
    
    nav > ul.open2 li:nth-of-type(9) a, nav > ul li:nth-of-type(9)::after{
        transition: opacity 3.1s, color .5s;
    }
    
    nav > ul.open2 li:nth-of-type(10) a, nav > ul li:nth-of-type(10)::after{
        transition: opacity 3.4s, color .5s;
    }
    
    nav > ul.open2 li:nth-of-type(11) a, nav > ul li:nth-of-type(11)::after{
        transition: opacity 3.7s, color .5s;
    }
    
    nav > ul.open2 li:nth-of-type(12) a, nav > ul li:nth-of-type(12)::after{
        transition: opacity 4.0s, color .5s;
    }
    nav > div:first-of-type > a{
        margin: 0;
    }
    main section > div{
        left: 3em;
    }
    footer{
        height: 5em;
    }
    footer > div{
        display: flex;
        justify-content: center;
    }
    footer > div ul{
        margin: 1.9em 0 0 1em;
    }
    footer img{
        margin: 0;
    }
    h1{
        font-size: 5.5em;
    }
    h2{
        width: 100%;
        transform: translateX(0);
        font-size: 1.3em;
    }
    section:nth-of-type(2) div h3{
        font-size: 6.5em;
    }
    main section:nth-of-type(2) {
        justify-content: flex-start;
        margin: 0 5em;
    }
}

/* Breakpoint fixes Falcon 9 */
@media (min-width: 960px){
    main section:nth-of-type(3) {
        height: 170vh;
    }
    main section:nth-of-type(3) div:nth-of-type(2){
        width: 31em;
        left: 3em;
        bottom: 11em;
    }
    main section:nth-of-type(3) div:nth-of-type(2) ul:first-of-type li::after{
        width: 31em;
    }
    main section:nth-of-type(3) div:nth-of-type(1){
        background-position-x: 0%;
        height: 60%;
        top: 1em;
    }
    main section:nth-of-type(3) button:first-of-type{
        left: 21.2em;
        bottom: 16.1em;
    }
    main section:nth-of-type(3) button:nth-of-type(2){
        left: 22.2em;
        bottom: 16.1em;
    }
    main section:nth-of-type(3) > p:first-of-type {
        width: 40vw;
        margin-left: 3em;
    }
    main section:nth-of-type(3) > p:nth-of-type(2){
        left: 2.2em;
        bottom: 20em;
    }
    section:nth-of-type(3) h4{
        left: 1.4em;
        bottom: 12em;
    }
}


@media (min-width: 1080px){
    nav > div:nth-of-type(1) ul li:nth-of-type(7){
        display: block;
        position: absolute;
        right: 5.3em;
    }
    nav > ul li:last-of-type{
        display: none;
    }
}

@media (min-width: 1200px){
    nav > div:nth-of-type(1) ul li:nth-of-type(8){
        display: block;
    }
   nav > ul li:nth-of-type(7){
       display: none;
   }
}